.sidebar_menu {
    list-style: none;
    font-size: var(--main-font-size);
    font-weight: bold;
    display: flex;
    flex-direction: column;

}

.menu_items {

    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;

}
.modalClose_btn{
    background-color: var(--main-btn-color);
}
.split:hover {
    background-color: var(--hover-btn-color);
}

.split {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
}

.menu_img {
    width: 23px;
    height: 23px;
}
